apiVersion: apps/v1
kind: Deployment
metadata:
  name: adservice
  namespace: microservices-demo
  labels:
    app: adservice
spec:
  replicas: 2
  selector:
    matchLabels:
      app: adservice
  template:
    metadata:
      labels:
        app: adservice
    spec:
      containers:
        - image: us-central1-docker.pkg.dev/google-samples/microservices-demo/adservice:v0.10.4
          name: adservice
          ports:
            - containerPort: 9555
          env:
            - name: PORT
              value: "9555"
          readinessProbe:
            grpc:
              port: 9555
            periodSeconds: 12
            initialDelaySeconds: 15
            timeoutSeconds: 3
          livenessProbe:
            grpc:
              port: 9555
            periodSeconds: 12
            initialDelaySeconds: 25
            timeoutSeconds: 3
          resources:
            requests:
              memory: 200Mi
              cpu: 180m
            limits:
              memory: 300Mi
              cpu: 300m