apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: productcatalogservice
  name: productcatalogservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: productcatalogservice
  strategy: {}
  template:
    metadata:
      labels:
        app: productcatalogservice
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/google-samples/microservices-demo/productcatalogservice:v0.10.4
        name: productcatalogservice
        ports:
        - containerPort: 3550
        env:
          - name: PORT
            value: "3550"
status: {}
