apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: recommendationservice
  name: recommendationservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommendationservice
  strategy: {}
  template:
    metadata:
      labels:
        app: recommendationservice
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/google-samples/microservices-demo/recommendationservice:v0.10.4
        name: recommendationservice
        resources: {}
        env:
        - name: PORT
          value: "8080"
        - name: PRODUCT_CATALOG_SERVICE_ADDR
          value: "productcatalogservice:3550"
status: {}
