apiVersion: v1
kind: Service
metadata:
  name: recommendationservice
  namespace: microservices-demo
  labels:
    app: recommendationservice
spec:
  selector:
    app: recommendationservice
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
