apiVersion: v1
kind: Service
metadata:
  name: shippingservice
  namespace: microservices-demo
  labels:
    app: shippingservice
spec:
  selector:
    app: shippingservice
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 50051
      targetPort: 50051
