apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: currencyservice
  name: currencyservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: currencyservice
  strategy: {}
  template:
    metadata:
      labels:
        app: currencyservice
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/google-samples/microservices-demo/currencyservice:v0.10.4
        name: currencyservice
        ports:
        - containerPort: 7000
        env:
          - name: PORT
            value: "7000"
          - name: "DISABLE_PROFILER"
            value: "true"
status: {}
