apiVersion: apps/v1
kind: Deployment
metadata:
  name: paymentservice
  namespace: microservices-demo
  labels:
    app: paymentservice
spec:
  replicas: 2
  selector:
    matchLabels:
      app: paymentservice
  template:
    metadata:
      labels:
        app: paymentservice
    spec:
      containers:
        - image: us-central1-docker.pkg.dev/google-samples/microservices-demo/paymentservice:v0.10.4
          name: paymentservice
          ports:
            - containerPort: 50051
          env:
            - name: PORT
              value: "50051"
            - name: "DISABLE_PROFILER"
              value: "true"
          readinessProbe:
            grpc:
              port: 50051
            periodSeconds: 12
            initialDelaySeconds: 10
            timeoutSeconds: 3
          livenessProbe:
            grpc:
              port: 50051
            periodSeconds: 12
            initialDelaySeconds: 15
            timeoutSeconds: 3
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"
