apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: paymentservice
  name: paymentservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: paymentservice
  strategy: {}
  template:
    metadata:
      labels:
        app: paymentservice
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/google-samples/microservices-demo/paymentservice:v0.10.4
        name: paymentservice
        ports:
        - containerPort: 3550
        env:
          - name: PORT
            value: "8080"
          - name: "DISABLE_PROFILER"
            value: "true"
status: {}
