apiVersion: v1
kind: Service
metadata:
  name: paymentservice
  namespace: microservices-demo
  labels:
    app: paymentservice
spec:
  selector:
    app: paymentservice
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 50051
      targetPort: 50051
