apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: emailservice
  name: emailservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: emailservice
  strategy: {}
  template:
    metadata:
      labels:
        app: emailservice
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/google-samples/microservices-demo/emailservice:v0.10.4
        name: emailservice
        resources: {}
        env:
        - name: PORT
          value: "8080"
status: {}
