apiVersion: v1
kind: Service
metadata:
  name: emailservice
  namespace: microservices-demo
  labels:
    app: emailservice
spec:
  selector:
    app: emailservice
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 8080
