apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: cartservice
  name: cartservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cartservice
  strategy: {}
  template:
    metadata:
      labels:
        app: cartservice
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/google-samples/microservices-demo/cartservice:v0.10.4
        name: cartservice
        ports:
        - containerPort: 7070
        env:
          - name: PORT
            value: "7070"
          - name: REDIS_ADDR
            value: "redis-cart:6379"
status: {}
