apiVersion: v1
kind: Service
metadata:
  name: cartservice
  namespace: microservices-demo
  labels:
    app: cartservice
spec:
  selector:
    app: cartservice
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 7070
      targetPort: 7070
