apiVersion: v1
kind: Service
metadata:
  name: checkoutservice
  namespace: microservices-demo
  labels:
    app: checkoutservice
spec:
  selector:
    app: checkoutservice
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 5050
      targetPort: 5050
