apiVersion: apps/v1
kind: Deployment
metadata:
  name: currencyservice
  namespace: microservices-demo
  labels:
    app: currencyservice
spec:
  replicas: 2
  selector:
    matchLabels:
      app: currencyservice
  template:
    metadata:
      labels:
        app: currencyservice
    spec:
      containers:
        - image: us-central1-docker.pkg.dev/google-samples/microservices-demo/currencyservice:v0.10.4
          name: currencyservice
          ports:
            - containerPort: 7000
          env:
            - name: PORT
              value: "7000"
            - name: "DISABLE_PROFILER"
              value: "true"
          readinessProbe:
            grpc:
              port: 7000
            periodSeconds: 12
            initialDelaySeconds: 10
            timeoutSeconds: 3
          livenessProbe:
            grpc:
              port: 7000
            periodSeconds: 12
            initialDelaySeconds: 15
            timeoutSeconds: 3
          resources:
            requests:
              memory: 64Mi
              cpu: 100m
            limits:
              memory: 128Mi
              cpu: 200m
